body {
  padding-top: 5rem;
  background-color: white;
  font-size: 20px
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.cImg {
  height: 400px;
}

.textstyle {
  color: green;
}
h1 {
  text-align: center;
  font-family: font-family: 'Baskervville', serif;
}
ul {
 text-align: center;
}
