body {
  padding-top: 5rem;
  background-color: white;
  font-size: 20px
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.cImg {
  height: 400px;
}

.textstyle {
  color: #2B4F0C;
  padding: 3rem; 
}


.heading {
  color: #2B4F0C;
  padding-top: 200px;
}

ul {
 text-align: center;
}

img {
  margin-top: 35px;
}

.heading {
  padding: 3rem 1.5rem;
}
.page-footer {
  background: #2B4F0C;
  color: #FFF;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.col {
  width: 1000%;
  position: relative;
} 