body {
  padding-top: 5rem;
  background-color: white;
  font-size: 20px
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.cImg {
  height: 400px;
}

.textstyle {
  color: green;
  padding: 3rem; 
}


.heading {
  color:green;
  padding-top: 200px;
}

ul {
 text-align: center;
}

img {
  margin-top: 35px;
}

.heading {
  padding: 3rem 1.5rem;
}
